@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

.collapse {
    overflow-x: auto;
}
table.table.table-sm.table-borderless.small {
    td,
    th {
        padding: 0.1rem 0.3rem;
    }
}

td.trim,
th.trim {
    width: 1px;
}

.overflow {
    overflow-x: auto;
}

.nowrap {
    white-space: nowrap;
}

app-quick {
    .card {
        border-radius: 10px;
        margin: 5px 0px;

        &:hover {
            @extend .shadow;
        }

        .card-body {
            text-align: center;
            .logo {
                font-size: 3rem;
            }
        }
    }
}
