<div class="container pb-5">
    <div class="row my-3">
        <div class="col-10">
            <p class="text-right">These are the tools you have loaded.</p>

            <app-home-configs id="configs" [configs]="drtools.configs"></app-home-configs>
            <!-- <app-home-endpoints id="endpoints" [server]="serverUrl" [endpoints]="drtools.endpoints">
            </app-home-endpoints> -->
            <!-- <app-home-loaders id="loaders" [server]="serverUrl" [loaders]="drtools.loaders"></app-home-loaders> -->
            <!-- <app-home-middlewares id="middlewares" [server]="serverUrl" [middlewares]="drtools.middlewares">
            </app-home-middlewares> -->
            <!-- <app-home-routes id="routes" [server]="serverUrl" [routes]="drtools.routes"></app-home-routes> -->
            <!-- <app-home-mock-routes id="mock-routes" [server]="serverUrl" [mockRoutes]="drtools.mockRoutes">
            </app-home-mock-routes> -->
            <!-- <app-home-tasks id="tasks" [server]="serverUrl" [tasks]="drtools.tasks"></app-home-tasks> -->
            <!-- <app-home-plugins id="plugins" [server]="serverUrl" [plugins]="drtools.plugins"></app-home-plugins> -->
        </div>

        <div class="col small">
            <div class="position-fixed">
                <ul class="nav flex-column border-left">
                    <li *ngIf="drtools.configs" class="nav-item">
                        <a class="nav-link" href="#configs">
                            <i class="fa fa-cogs"></i> Configs
                        </a>
                    </li>
                    <li *ngIf="drtools.endpoints" class="nav-item">
                        <a class="nav-link" href="#endpoints">
                            <i class="fa fa-asterisk"></i> Endpoints
                        </a>
                    </li>
                    <li *ngIf="drtools.loaders" class="nav-item">
                        <a class="nav-link" href="#loaders">
                            <i class="fa fa-spinner"></i> Loaders
                        </a>
                    </li>
                    <li *ngIf="drtools.middlewares" class="nav-item">
                        <a class="nav-link" href="#middlewares">
                            <i class="fa fa-prescription-bottle"></i> Middlewares
                        </a>
                    </li>
                    <li *ngIf="drtools.routes" class="nav-item">
                        <a class="nav-link" href="#routes">
                            <i class="fa fa-map-signs"></i> Routes
                        </a>
                    </li>
                    <li *ngIf="drtools.mockRoutes" class="nav-item">
                        <a class="nav-link" href="#mock-routes">
                            <i class="fa fa-map-signs"></i> Mock-up Routes
                        </a>
                    </li>
                    <li *ngIf="drtools.tasks" class="nav-item">
                        <a class="nav-link" href="#tasks">
                            <i class="fa fa-clock"></i> Tasks
                        </a>
                    </li>
                    <li *ngIf="drtools.plugins" class="nav-item">
                        <a class="nav-link" href="#plugins">
                            <i class="fa fa-plug"></i> Plugins
                        </a>
                    </li>
                </ul>

                <hr />

                <ul class="nav flex-column border-left">
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="expandAll()">
                            <i class="fa fa-expand"></i> Expand all
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="hideAll()">
                            <i class="fa fa-compress"></i> Collapse all
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>