<ng-container *ngIf="configs">
    <hr />

    <div class="row">
        <div class="col">
            <fa-icon [icon]="icons.faCogs" class="float-right"></fa-icon>
            <h4>Configs</h4>
        </div>
    </div>

    <div class="accordion">
        <div *ngFor="let conf of configs; let i = index" class="card">
            <div class="card-header" style="cursor:pointer;" data-toggle="collapse"
                [attr.data-target]="'#configs_collapse_' + i">
                <fa-icon [icon]="icons.faCogs" class="text-info"></fa-icon>
                {{conf.key}}
            </div>

            <div [id]="'configs_collapse_' + i" class="collapse">
                <div class="card-body p-2">

                    <div class="row">
                        <div class="col">
                            <table class="table table-sm table-borderless small">
                                <tbody>
                                    <tr>
                                        <th class="nowrap trim">Environment:</th>
                                        <td><code>{{conf.environment}}</code></td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Directories:</th>
                                        <td>
                                            <ul class="m-0 py-0">
                                                <li *ngFor="let directory of conf.directories">
                                                    <code>{{directory}}</code>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Suffix:</th>
                                        <td><code>.{{conf.suffix}}</code></td>
                                    </tr>
                                    <tr *ngIf="conf.publicUri">
                                        <th class="nowrap trim">Public URI:</th>
                                        <td><code>{{conf.publicUri}}</code></td>
                                    </tr>
                                    <tr *ngIf="conf.specsDirectories">
                                        <th class="nowrap trim">Specs Directories:</th>
                                        <td>
                                            <ul class="m-0 py-0">
                                                <li *ngFor="let directory of conf.specsDirectories">
                                                    <code>{{directory}}</code>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Specs Suffix:</th>
                                        <td><code>.{{conf.specsSuffix}}</code></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <table class="table table-sm table-striped table-bordered small">
                                <thead>
                                    <tr class="table-secondary">
                                        <th colspan="6" scope="col">Configs:</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <fa-icon [icon]="icons.faCogs" class="text-info"></fa-icon>
                                        </th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Path</th>
                                        <th scope="col">Public URI</th>
                                        <th scope="col text-center">Env Specific</th>
                                        <th scope="col" class="trim"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let config of conf._items">
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faCogs" class="text-info"></fa-icon>
                                        </td>
                                        <td>{{config.name}}</td>
                                        <td>
                                            <code>{{config.path}}</code>
                                        </td>
                                        <td>
                                            <a *ngIf="config.public" [href]="conf.publicUri + '/' + config.name"
                                                target="_blank">
                                                <code>{{conf.publicUri}}/{{config.name}}</code>
                                            </a>
                                        </td>
                                        <td class="text-center" [title]="config.specific ? config.specific.path : ''">
                                            <app-boolean [value]="config.specific"
                                                [type]="BooleanComponentTypes.IconColor"></app-boolean>
                                        </td>
                                        <td class="text-center trim">
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-secondary"
                                                    (click)="display(config, conf)" title="Display">
                                                    <fa-icon [icon]="icons.faEye"></fa-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div *ngIf="conf._specs.length > 0" class="row">
                        <div class="col">
                            <table class="table table-sm table-striped table-bordered small">
                                <thead>
                                    <tr class="table-secondary">
                                        <th colspan="6" scope="col">Config Specs:</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <fa-icon [icon]="icons.faCogs" class="text-warning"></fa-icon>
                                        </th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Path</th>
                                        <th scope="col" class="trim"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let config of conf._specs">
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faCogs" class="text-warning"></fa-icon>
                                        </td>
                                        <td>{{config.name}}</td>
                                        <td>
                                            <code>{{config.path}}</code>
                                        </td>
                                        <td class="text-center trim">
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-secondary"
                                                    (click)="displaySpecs(config, conf)" title="Display Specs">
                                                    <fa-icon [icon]="icons.faCode"></fa-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row small">
        <p class="col my-0">
            <a href="/public-configs" target="_blank" class="float-right border-info">
                <fa-icon [icon]="icons.faCogs" class="text-success"></fa-icon>
                <code>list of public configs</code>
            </a>
        </p>
    </div>

    <div class="modal fade" id="ConfigModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 *ngIf="displayData.name" class="modal-title" id="ModalTitle">
                        <fa-icon [icon]="icons.faCogs"></fa-icon>
                        Config:
                        <code>{{displayData.name}}</code>
                    </h5>
                    <h5 *ngIf="displayData.specsName" class="modal-title" id="ModalTitle">
                        <fa-icon [icon]="icons.faCogs"></fa-icon>
                        Config Specs:
                        <code>{{displayData.specsName}}</code>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-2">
                    <ul class="list-unstyled">
                        <li>
                            <strong>Path</strong>:
                            <code>{{displayData.path}}</code>
                        </li>
                        <li *ngIf="configs.publicUri && displayData.name && displayData.public">
                            <strong>Public URI</strong>:
                            <a [href]="configs.publicUri + '/' + displayData.name" target="_blank">
                                <code>{{configs.publicUri}}/{{displayData.name}}</code>
                            </a>
                        </li>
                    </ul>
                    <pre class="border rounded text-info p-2"><code>{{displayData.contents}}</code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">
                        <fa-icon [icon]="icons.faTimes"></fa-icon>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</ng-container>