<div *ngIf="mockRoutes">
    <hr/>

    <div class="row">
        <h4 class="col">
            <i class="fa fa-map-signs"></i> Mock-up Routes:
        </h4>
    </div>

    <div class="row">
        <ul class="list-unstyled col small">
            <li>
                <strong>Config Path</strong>:
                <code>{{mockRoutes.configPath}}</code>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">URI</th>
                        <th scope="col" class="text-center">Method</th>
                        <th scope="col" class="text-center">Mime Type</th>
                        <th scope="col">Path</th>
                        <th scope="col" class="text-center">Valid</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let route of mockRoutes.routes">
                        <td>
                            <i class="fa fa-map-signs text-info"></i>
                        </td>
                        <td>
                            <a [href]="server + route.uri" target="_blank" (click)="route.method === '*' || route.method === 'get'">
                                <code>{{route.uri}}</code>
                            </a>
                        </td>
                        <td class="text-center">
                            <span *ngIf="route.method !== '*'" class="badge badge-primary text-uppercase">{{route.method}}</span>
                            <span *ngIf="route.method === '*'" class="badge badge-secondary">*</span>
                        </td>
                        <td class="text-center">
                            <code>{{route.mime}}</code>
                        </td>
                        <td>
                            <code>{{route.path}}</code>
                        </td>
                        <td class="text-center" [innerHTML]="route.valid | boolean:'icon-color'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>