<div *ngIf="loaders">
    <hr/>

    <div class="row">
        <h4 class="col">
            <i class="fa fa-spinner"></i> Loaders:
        </h4>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Path</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let loader of loaders">
                        <td>
                            <i class="fa fa-spinner text-info"></i>
                        </td>
                        <td>{{loader.name}}</td>
                        <td>
                            <code>{{loader.path}}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>