<div *ngIf="loaders">
    <hr/>

    <div class="row">
        <h4 class="col">
            <i class="fa fa-spinner"></i> Loaders:
        </h4>
    </div>

    <div class="row">
        <ul class="list-unstyled col small">
            <li>
                <strong>Directory</strong>:
                <code>{{loaders.directory}}</code>
            </li>
            <li>
                <strong>Suffix</strong>:
                <code>.{{loaders.suffix}}</code>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Path</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let loader of loaders.items">
                        <td>
                            <i class="fa fa-spinner text-info"></i>
                        </td>
                        <td>{{loader.name}}</td>
                        <td>
                            <code>{{loader.path}}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>